.user-review{
    margin-top:200px;
    object-fit: cover;
    height: 100vh;
    margin-bottom:200px;
   overflow:hidden;
  
}
.slider{
    width:400px;
    height:400px;
    overflow:hidden;
    transform:translateX(150%);
    margin-top:30px;
   
}

@media (max-width:1023px){
    .slider{
        position:absolute;
        right:0;
      
    }
}


@media (max-width:768px){
    .slider{
        transform:translateX(0%);
        overflow:hidden;
      
    }
}

@media (max-width:374px){
    .slider{
        transform:translateX(10%);
    }
}
.contain{
   width:100%;
   height:100%;
   
}
.contain .review-box{
    width:80%;
    height:80%;
    margin:40px;
    padding:10px;
    border:2px solid teal;
}
.user-review .heading{
     margin-bottom:100px;
}
.heading .pf{
    font-size:40px;
    color:#0c4f37;
    padding-y:10px;
}
.heading .ps{
    font-size:25px;
    font-weight:600;
    color:black;
}


.review-box .img{
    height:40%;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:centerl
}
.review-box .img img{
    height:80%;
    width:40%;
    border-radius:50%;
    text-align:center;
}
.user-review h3{
    color: #333;
    font-size:1.2rem ;
    text-align: center;
    margin-bottom: 10px;
}
.user-review p{
    color: #666;
    font-size: 0.7rem;
    padding: 0.7rem;
    text-align: center;
    margin-bottom: 10px;
}
.user-review .stars {
    color:rgb(255, 169, 10);
    margin-left: 30%;
    align-items: center;
   width: 100%;
   padding: 3px;
}
